<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/agreement.css" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>스마트쉘터 무료와이파이</title>
</head>
<body>
<article>
<main>
    <h1>개인정보 이용동의</h1>
</main>
<section>
    <p id="gender">•성별</p>
    <label><input type="radio" name="gender" value="women">여</label>
    <label><input type="radio" name="gender" value="men">남</label>
    <p id="age">•연령</p>
    <label><input type="radio" name="age" value="age">10대 미만</label>
    <label><input type="radio" name="age" value="age">10대</label>
    <label><input type="radio" name="age" value="age">20대</label>
    <label><input type="radio" name="age" value="age">30대</label>
    <label><input type="radio" name="age" value="age">40대</label>
    <label><input type="radio" name="age" value="age">50대</label>
    <label><input type="radio" name="age" value="age">60대</label>
    <label><input type="radio" name="age" value="age">70대</label>
    <label><input type="radio" name="age" value="age">80대 초과</label>
    <p id="email">•이메일</p>
    <input type="text" name="email"><select name="email">
    <option>naver.com</option>
    <option>gmail.com</option>
    <option>nate.com</option>
    </select>
    <p id="location">•위치정보동의</p>
</section>
    <button>동의하기</button>
</article>
</body>
</html>

<!--    <form action="" id="agreeform">
        <ul class="agreefrom">
            <li class="checkbox check01">
                <ul class="clearfix">
                    <li>이용약관, 개인정보 수집 및 이용,
                        위치정보 이용약관(선택), 프로모션 안내
                        메일 수신(선택)에 모두 동의합니다.</li>
                    <li class="checkAllBtn">
                        <input type="checkbox" name="chkAll" id="chk" class="chkAll">
                    </li>
                </ul>
            </li>
            <li class="checkbox check02">
                <ul class="clearfix">
                    <li>이용약관 동의(필수)</li>
                    <li class="checkBtn">
                        <input type="checkbox" name="chk">
                    </li>
                </ul>
                <textarea name="" id="1">
                    여러분을 환영합니다. 스마트쉘터 무료와이파이 페이지를 이용해주셔서 감사합니다.
                </textarea>
            </li>
            <li class="checkbox check03">
                <ul class="clearfix">
                    <li>위치정보 이용약관 동의(선택)</li>
                    <li class="checkBtn">
                        <input type="checkbox" name="chk">
                    </li>
                </ul>

                <textarea name="" id="2">
                    여러분을 환영합니다. 스마트쉘터 무료와이파이 페이지를 이용해주셔서 감사합니다.
                </textarea>
            </li>
            <li class="checkbox check03">
                <ul class="clearfix">
                    <li>위치정보 이용약관 동의(선택)</li>
                    <li class="checkBtn">
                        <input type="checkbox" name="chk">
                    </li>
                </ul>
                <textarea name="" id="3">
                    여러분을 환영합니다. 스마트쉘터 무료와이파이 페이지를 이용해주셔서 감사합니다.
                </textarea>
            </li>
            <li class="checkbox check04">
                <ul class="clearfix">
                    <li>이벤트 등 프로모션 알림 메일 수신(선택)</li>
                    <li class="checkBtn">
                        <input type="checkbox" name="chk">
                    </li>
                </ul>
            </li>
        </ul>
        <ul class="footBtwrap clearfix">
            <li><button class="fpmgBt1">비동의</button></li>
            <li><button class="fpmgBt2">동의</button></li>
        </ul>
    </form>-->
