<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/connectPage.css" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>스마트쉘터 무료와이파이</title>
</head>
<body>
<header>
    <nav>
        <ul id="topMenu" style="list-style-type: none">
            <li style="display:inline"><a href="#">이용방법</a></li>
            <li style="display:inline"><a href="#">문의하기</a></li>
        </ul>
    </nav>
    <img src="../../static/menuline.png" alt="스마트쉘터 무료와이파이" width="100%">
</header>
<article>
    <h1 id="title">Free WI-FI</h1>
    <p>스마트쉘터 무료와이파이로 접속되었습니다.</p>
</article>
</body>
</html>