<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>스마트쉘터 무료와이파이</title>
    <link rel="stylesheet" href="../../static/howToUse.css" type="text/css">
</head>
<body>
<p id="title">이용방법</p>
          <ul class="terms__list">
            <li class="terms__box">
              <div class="input__check">
<!--                <input type="checkbox" name="agreement" id="termsOfService" value="termsOfService" required />-->
                <label>와이파이 연결은 어떻게 하나요?</label>
              </div>
              <div class="terms__content">
                와이파이 연결은 어떻게 하나요? 와이파이 연결은 어떻게 하나요? 와이파이 연결은 어떻게 하나요?
                  와이파이 연결은 어떻게 하나요? 와이파이 연결은 어떻게 하나요? 와이파이 연결은 어떻게 하나요?
                  와이파이 연결은 어떻게 하나요? 와이파이 연결은 어떻게 하나요? 와이파이 연결은 어떻게 하나요?
              </div>
            </li>
            <li class="terms__box">
              <div class="input__check">
<!--                <input type="checkbox" name="agreement" id="privacyPolicy" value="privacyPolicy" required />-->
                <label>와이파이 접속이 일정시간마다 끊겨요</label>
              </div>
              <div class="terms__content">
                와이파이는 3시간마다 갱신 와이파이는 3시간마다 갱신 와이파이는 3시간마다 갱신 와이파이는 3시간마다 갱신
                  와이파이는 3시간마다 갱신 와이파이는 3시간마다 갱신 와이파이는 3시간마다 갱신 와이파이는 3시간마다 갱신
                  와이파이는 3시간마다 갱신 와이파이는 3시간마다 갱신 와이파이는 3시간마다 갱신 와이파이는 3시간마다 갱신
              </div>
            </li>
            <li class="terms__box">
              <div class="input__check">
<!--                <input type="checkbox" name="agreement" id="allowPromotions" value="allowPromotions" />-->
                <label>많이 묻는 질문</label>
              </div>
              <div class="terms__content">
                많이 묻는 질문 많이 묻는 질문 많이 묻는 질문 많이 묻는 질문 많이 묻는 질문 많이 묻는 질문
                  많이 묻는 질문 많이 묻는 질문 많이 묻는 질문 많이 묻는 질문 많이 묻는 질문 많이 묻는 질문
              </div>
            </li>
          </ul>
</body>
</html>