button{
    background-color: blue;
    color: white;
    height: 65px;
    width: 180px;
    font-size: 24px;
    position: absolute;
    left: 45%;
    bottom: 13%;
    font-family: 'yg-jalnan';
}

body{
    background-image: url('agreementbackgroundsize2.png');
    background-repeat: no-repeat;
    /*width: 100%;*/
    /*height: 100%;*/
    /*margin: 0 auto;*/
    background-position: center top;
    background-size: cover;
}

h1{
    font-family: 'yg-jalnan';
    position: absolute;
    top: 10%;
    left: 39%;
    font-size: 3rem;
}

section{
    font-family: 'GmarketSansMedium';
    text-align: center;
    position: absolute;
    top: 25%;
    left: 33%;
}

form{

}

#gender{
    font-size: 1.5rem;
}

#age{
    font-size: 1.5rem;
}

#email{
    font-size: 1.5rem;
}

#location{
    font-size: 1.5rem;
}

@font-face {
    font-family: 'yg-jalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


